
<div class='text'>
	<h3>New Planet</h3>
	<%= form_for @planet do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %> <br/>
		<%= f.label :diameter %>
		<%= f.text_field :diameter %> <br/>
		<%= f.label :Image %>
		<%= f.text_field :img_url %> <br/>
		<%= f.submit %>
	<% end %>
</div>